<app-nav>
  <app-football-videos></app-football-videos>
</app-nav>



<!--<mat-toolbar>-->
<!--  <mat-toolbar-row>-->
<!--    <a target="_blank" href="https://material.angular.io/">Angular Material</a>-->
<!--  </mat-toolbar-row>-->
<!--  <mat-toolbar-row>-->
<!--    <a target="_blank" href="https://www.npmjs.com/package/@angular/flex-layout">Flex-Layout</a>-->
<!--  </mat-toolbar-row>-->
<!--  <mat-toolbar-row>-->
<!--    <a target="_blank" href="https://www.letsboot.com/">Letsboot.com</a>-->
<!--  </mat-toolbar-row>-->
<!--</mat-toolbar>-->
