<div *ngIf="isLoading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>


<div  *ngIf="!isLoading" >
  <div *ngIf="videoList" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around"  >
    <div *ngFor="let video of videoList">
      <app-football-video-card
                               [footballVideo]="video"
      ></app-football-video-card>
    </div>

  </div>

  <div *ngIf="!videoList">No videos found</div>
</div>

<div class="error" *ngIf="error">
  OOps {{error}}
</div>
