<div *ngIf="isLoading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>


<div  *ngIf="!isLoading" >
  <div *ngIf="videoList" fxLayout="row wrap"  fxLayoutAlign="space-around"  >
    <div *ngFor="let video of videoList" fxFlex.lt-sm="100%" fxFlex.lt-md="50%" fxFlex.md="33%" fxFlex.lt-lg="25%" fxFlex="25%">
      <app-football-video-card fxFlex="100%"
                               [footballVideo]="video"
      ></app-football-video-card>
    </div>

  </div>

  <div *ngIf="!videoList">No videos found</div>
</div>

<div class="error" *ngIf="error">
  OOps {{error}}
</div>
